<div class="item-photos">
	<div class="item-photos__tag {{tag_color=='red' ? 'item-photos__tag--red'}} {{tag_color=='green' ? 'item-photos__tag--green'}} {{tag_color=='yellow' ? 'item-photos__tag--yellow'}}">{{tag_text}}</div>

	<div class="item-photos__main-slider">
		<div class="item-photos__main-slide-wrap">
			<div class="item-photos__main-slide">
				<a href="#"><img src="{{TimberImage(theme.path~'/img/temp/10685.jpg').src}}" alt=""></a>
				
			</div>
		</div>
		<div class="item-photos__main-slide-wrap">
			<div class="item-photos__main-slide">
				<a href="#"><img src="{{TimberImage(theme.path~'/img/temp/10685.jpg').src}}" alt=""></a>
			</div>
		</div>
		<div class="item-photos__main-slide-wrap">
			<div class="item-photos__main-slide">
				<a href="#"><img src="{{TimberImage(theme.path~'/img/temp/10685.jpg').src}}" alt=""></a>
			</div>
		</div>
		<div class="item-photos__main-slide-wrap">
			<div class="item-photos__main-slide">
				<a href="#"><img src="{{TimberImage(theme.path~'/img/temp/10685.jpg').src}}" alt=""></a>
			</div>
		</div>
		<div class="item-photos__main-slide-wrap">
			<div class="item-photos__main-slide">
				<a href="#"><img src="{{TimberImage(theme.path~'/img/temp/1316.jpg').src}}" alt=""></a>
			</div>
		</div>
	</div>

	<div class="item-photos__nav-slider">
		<div class="item-photos__nav-slide-wrap">
			<div class="item-photos__nav-slide">
				<img src="{{TimberImage(theme.path~'/img/temp/10685.jpg').src}}" alt="">
			</div>
			
		</div>
		<div class="item-photos__nav-slide-wrap">
			<div class="item-photos__nav-slide">
				<img src="{{TimberImage(theme.path~'/img/temp/10685.jpg').src}}" alt="">
			</div>
			
		</div>
		<div class="item-photos__nav-slide-wrap">
			<div class="item-photos__nav-slide">
				<img src="{{TimberImage(theme.path~'/img/temp/10685.jpg').src}}" alt="">
			</div>
			
		</div>
		<div class="item-photos__nav-slide-wrap">
			<div class="item-photos__nav-slide">
				<img src="{{TimberImage(theme.path~'/img/temp/10685.jpg').src}}" alt="">
			</div>
			
		</div>
		<div class="item-photos__nav-slide-wrap">
			<div class="item-photos__nav-slide">
				<img src="{{TimberImage(theme.path~'/img/temp/1316.jpg').src}}" alt="">
			</div>
			
		</div>
	</div>

	
</div>