<div class="input-wrap {{warp_class}}">
	{% if inputicon %}
	<i class="fa {{inputicon}} input-wrap__input-icon" aria-hidden="true"></i>
	{% endif %}

	{% if text_before %}
	<div class="input-wrap__text-before">
		{{text_before}}
	</div>
	{% endif %}

	<input type="text" name="{{inputname}}" placeholder="{{placeholder ? placeholder : 'поиск'}}" value="" class="tb-input {{has_btn ? 'tb-input--has-btn'}} {{inputicon ? 'tb-input--with-icon'}}" {{maxlength ? "maxlength='"~maxlength~"'"}}>
	{% if has_btn %}
	<div class="input-wrap__input-btn {{js_btn_id}} {{btn_class}}">
		<span>{{btn_text}}</span>
		<div class="ajax-loader" style="display: none;"></div>
	</div>
	{% endif %}
	<div class="clear"></div>
</div>