<div class="input-wrap {{warp_class}} {{text_before ? 'input-wrap--has-text-before'}} {{cross ? 'input-wrap--has-cross'}} {{has_btn ? 'input-wrap--has-btn'}} {{inputicon ? 'input-wrap--with-icon'}}">
	{% if inputicon %}
	<i class="fa {{inputicon}} input-wrap__input-icon" aria-hidden="true"></i>
	{% endif %}

	{% if text_before %}
	<div class="input-wrap__text-before">
		{{text_before}}
	</div>
	{% endif %}

	<input type="text" name="{{inputname}}" placeholder="{{placeholder ? placeholder : 'поиск'}}" value="" {{maxlength ? "maxlength='"~maxlength~"'"}}>
	{% if has_btn %}
	<div class="input-wrap__input-btn {{js_btn_id}} {{btn_class}}">
		<span>{{btn_text}}</span>
		<div class="ajax-loader" style="display: none;"></div>
	</div>
	{% endif %}

	{% if cross %}
	<div class="input-wrap__cross"></div>
	{% endif %}
	
	<div class="clear"></div>
</div>